/* https://jonassebastianohlsson.com/criticalpathcssgenerator/ */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
[type="button"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-weight: normal;
  line-height: 1;
  word-wrap: break-word;
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}
div,
ul,
li,
h1,
h3,
h4,
form,
p {
  margin: 0;
  padding: 0;
}
p {
  font-size: inherit;
  text-rendering: optimizeLegibility;
}
i {
  font-style: italic;
  line-height: inherit;
}
ul {
  list-style: none;
}
li {
  display: block;
}
a {
  text-decoration: none;
  line-height: inherit;
}
.row {
  width: 89%;
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.column {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  padding: 0 20px;
}
.large-9 {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
@media screen and (max-width: 1200px) {
  .column {
    padding: 0 16px;
  }
}
@media screen and (max-width: 600px) {
  .row {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .column {
    padding: 0 10px;
  }
  .mob-full {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .column {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
}
[data-aos="fade-up"] {
  transform: translateY(100px);
}
a.site-logo {
  font-size: xx-large;
  font-weight: 550;
  color: white;
  text-align: center;
}
html {
  font-size: 10px;
}
@media screen and (max-width: 400px) {
  html {
    font-size: 9.411764705882353px;
  }
}
html,
body {
  height: 100%;
}
body {
  background: #050505;
  font-family: "Lora", serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.882;
  color: #000000;
  margin: 0;
  padding: 0;
}
a {
  color: #cf1767;
}
h1,
h3,
h4 {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}
h1,
h3,
h4 {
  margin-top: 6rem;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 600px) {
  h1,
  h3,
  h4 {
    margin-top: 6rem;
  }
}
h1 {
  font-size: 3.6rem;
  line-height: 1.222;
  letter-spacing: -0.1rem;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.3rem;
    letter-spacing: -0.07rem;
  }
}
h3 {
  font-size: 2.4rem;
  line-height: 1.1667;
}
h4 {
  font-size: 2.1rem;
  line-height: 1.286;
}
i {
  font-size: inherit;
  line-height: inherit;
}
i {
  font-family: "Lora", serif;
  font-style: italic;
}
ul {
  list-style: disc;
}
li {
  display: list-item;
}
ul {
  margin-left: 1.6rem;
}
ul li {
  padding-left: 0.4rem;
}
button,
.btn {
  margin-bottom: 1.6rem;
}
input,
p,
ul,
form {
  margin-bottom: 3.2rem;
}
label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.714;
  color: #000000;
  display: block;
}
input[type="radio"] {
  display: inline;
}
::-webkit-input-placeholder {
  color: #8c8c8c;
}
:-moz-placeholder {
  color: #8c8c8c;
  opacity: 1;
}
::-moz-placeholder {
  color: #8c8c8c;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #8c8c8c;
}
::-ms-input-placeholder {
  color: #8c8c8c;
}
::placeholder {
  color: #8c8c8c;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #cf1767;
}
.btn,
button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  height: 6rem;
  line-height: 5.6rem;
  padding: 0 3.2rem;
  margin: 0 0.4rem 1.6rem 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
  border: 0.2rem solid #d3d3d3;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.s-header {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 78px;
  text-align: center;
  z-index: 100;
}
.s-header.sticky {
  background-color: #050505;
  position: fixed;
  top: 0;
  left: 0;
}
.header-logo {
  display: inline-block;
  margin: 6px 0 0 0;
  padding: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
  left: 40px;
}
.header-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
.header-nav-wrap {
  display: inline-block;
}
.header-nav-wrap ul {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-top: 18px;
}
.header-nav-wrap li {
  display: inline-block;
  padding-left: 0;
}
.header-nav-wrap li a {
  display: block;
  line-height: calc(78px - (18px * 2));
}
.header-main-nav {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 4px;
  z-index: 2;
  position: static;
}
.header-main-nav li {
  margin: 0 2rem;
}
.header-main-nav a {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}
.header-main-nav .current a {
  color: #ffffff;
}
.header-social {
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 0;
  right: 40px;
}
.header-social li {
  margin-right: 1rem;
}
.header-social li:last-child {
  margin-right: 0;
}
.header-social li a {
  color: #ffffff;
}
.header-menu-toggle {
  display: none;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 32px;
  top: 18px;
}
.header-menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  background-color: #ffffff;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 9px;
  right: auto;
  bottom: auto;
}
.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
}
.header-menu-toggle span::before {
  top: -9px;
}
.header-menu-toggle span::after {
  bottom: -9px;
}
@media screen and (max-width: 1200px) {
  .header-main-nav {
    font-size: 12px;
  }
  .header-main-nav li {
    margin: 0 1.4rem;
  }
}
@media screen and (max-width: 1000px) {
  .s-header {
    text-align: right;
  }
  .header-nav-wrap {
    margin-right: 36px;
  }
  .header-nav-wrap .header-social {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .s-header {
    background-color: #050505;
    position: fixed;
    top: 0;
  }
  .header-nav-wrap {
    display: none;
    text-align: left;
    height: auto;
    width: 100%;
    background-color: #050505;
    padding: 120px 44px 64px;
  }
  .header-nav-wrap .header-main-nav {
    display: block;
    padding-left: 0;
    height: auto;
    margin: 0 0 4rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
  .header-nav-wrap .header-main-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .header-nav-wrap .header-main-nav li a {
    padding: 18px 0;
    line-height: 20px;
  }
  .header-nav-wrap .header-social {
    display: block;
    position: static;
  }
  .header-nav-wrap .header-social li {
    font-size: 1.8rem;
    margin-right: 1.6rem;
  }
  .header-nav-wrap .header-social li a {
    line-height: 36px;
  }
  .header-menu-toggle {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .header-logo {
    left: 35px;
  }
}
@media only screen and (min-width: 801px) {
  .header-nav-wrap {
    display: block !important;
  }
}
.s-intro {
  width: 100%;
  height: 100vh;
  min-height: 792px;
  background-color: #050505;
}
.intro-content {
  height: 100%;
  max-width: 1140px;
  padding-top: 20vh;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.intro-pic {
  background-color: #02182c;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("/images/hero-pic.webp");
  background-size: cover;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 50%;
}
.intro-pic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
}
.intro-grid {
  background-image: url("/images/pattern-dot-grid.svg");
  background-size: 24px 24px;
  opacity: 0.15;
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 30%;
}
.intro-text {
  -webkit-transform: translate3d(0, -3.6rem, 0);
  transform: translate3d(0, -3.6rem, 0);
  position: static;
  z-index: 1;
}
.intro-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.333;
  color: #cf1767;
  margin-top: 0;
}
.intro-text h1 {
  font-size: 7.8rem;
  font-weight: 500;
  line-height: 1.179;
  color: #ffffff;
  margin-top: 0;
}
.intro-scroll {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: 8rem;
  left: 24px;
  z-index: 1;
}
.intro-scroll a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  padding-right: 8.8rem;
}
.intro-scroll a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1px;
  width: 72px;
  background-color: #cf1767;
}
@media screen and (max-width: 1400px) {
  .intro-text h3 {
    font-size: 2.2rem;
  }
  .intro-text h1 {
    font-size: 7.2rem;
  }
}
@media screen and (max-width: 1200px) {
  .intro-content {
    max-width: 1000px;
  }
  .intro-text h3 {
    font-size: 2rem;
  }
  .intro-text h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 1024px) {
  .s-intro {
    max-height: 800px;
  }
  .intro-text h1 {
    font-size: 6.2rem;
  }
}
@media screen and (max-width: 900px) {
  .intro-text h1 {
    font-size: 6rem;
  }
  .intro-text br {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .intro-content {
    width: 88%;
    padding-top: 8rem;
  }
  .intro-pic {
    top: 12%;
    left: 40%;
  }
  .intro-pic::before {
    opacity: 0.4;
  }
  .intro-grid {
    top: 20%;
    opacity: 0.1;
  }
  .intro-text h3 {
    font-size: 1.8rem;
  }
  .intro-text h1 {
    font-size: 5.6rem;
  }
}
@media screen and (max-width: 700px) {
  .intro-text h1 {
    font-size: 5rem;
  }
  .intro-pic {
    left: 30%;
  }
  .intro-grid {
    left: 15%;
  }
}
@media screen and (max-width: 600px) {
  .s-intro {
    max-height: none;
  }
  .intro-content {
    width: auto;
  }
  .intro-pic {
    left: 20%;
  }
  .intro-grid {
    left: 10%;
  }
  .intro-text {
    -webkit-transform: translate3d(0, -4.8rem, 0);
    transform: translate3d(0, -4.8rem, 0);
  }
  .intro-text h1 {
    font-size: 4.8rem;
  }
  .intro-scroll {
    font-size: 1.1rem;
    left: 30px;
  }
}
@media screen and (max-width: 400px) {
  .s-intro {
    min-height: 656px;
  }
  .intro-text h1 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 350px) {
  .intro-text h1 {
    font-size: 4.2rem;
  }
}
