@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* GLOBAL */

  html {
    @apply scroll-smooth;
  }

  body,
  .__next {
    @apply m-0 p-0 text-lg overflow-x-hidden;
    font-family: "Open Sans", sans-serif;
  }

  .poppins {
    font-family: "Poppins", sans-serif;
    font-display: swap;
    font-weight: 400;
  }

  .poppins-700 {
    font-weight: 700 !important;
  }

  /* NAVIGATION */

  .hero {
    @apply h-screen z-0;
  }

  .navbar {
    @apply absolute top-0 z-10;
    @apply w-full p-2 sm:p-4 md:p-8 lg:p-12;
    @apply flex lg:items-center justify-between text-white;
  }

  .navbar * {
    @apply whitespace-nowrap;
  }

  .brand {
    @apply text-2xl md:text-3xl;
  }

  .navbar nav {
    @apply flex flex-col lg:flex-row;
  }

  .toggle {
    @apply lg:hidden mb-4 ml-auto md:mb-0 cursor-pointer;
  }

  .menu {
    @apply flex flex-col lg:flex-row;
    @apply h-0 lg:h-min overflow-hidden transition-all duration-300 ease-in-out;
  }

  .menu-item {
    @apply lg:hover:text-primary-100 lg:hover:scale-110 transition-all duration-300 ease-linear;
    @apply my-2 lg:my-0 mx-2 md:mx-3 px-2;
  }

  .menu.show {
    @apply bg-opacity-70 bg-primary-100 lg:bg-transparent rounded-lg lg:rounded-none;
    @apply h-36 lg:h-min;
  }

  /* COMPONENTS */

  main {
    @apply my-12 mx-3 sm:mx-4 md:mx-8 lg:mx-12;
  }

  section {
    @apply mb-32 lg:mb-44;
  }

  .observer {
    @apply scale-0 transition-transform duration-1000 ease-in-out;
  }

  .observer.show {
    @apply scale-100;
  }

  .full-bleed {
    @apply w-screen;
    margin-left: calc(50% - 50vw);
  }

  h2 {
    @apply poppins poppins-700 font-bold uppercase text-2xl md:text-4xl mb-4 sm:mb-8 md:mb-12;
    @apply before:content-['\_\_\_\_\_'] before:text-sm sm:before:text-lg before:text-primary-100 before:-tracking-[.2em];
    @apply after:content-['\_\_\_\_\_'] after:text-sm sm:after:text-lg after:text-primary-100 after:-tracking-[.2em];
  }

  i:not(.gray) {
    @apply text-primary-100;
  }

  i.gray {
    @apply text-gray-600;
  }

  /* Whoweare */

  .presentation {
    @apply flex flex-col items-center mb-8 md:mb-12;
  }

  .service-items {
    @apply flex flex-col gap-x-12 gap-y-8 items-center sm:flex-row sm:justify-center;
  }

  .service-item {
    @apply flex flex-col items-center;
  }

  .service-item > div {
    @apply p-8 text-white bg-gray-800 rounded-full;
    @apply transition-colors duration-300 ease-in;
  }

  .service-item > p {
    @apply mt-4 poppins poppins-700;
    @apply transition-transform duration-200 ease-in;
  }

  .service-item:hover > div {
    @apply bg-primary-100;
  }

  .service-item:hover > p {
    @apply scale-110;
  }

  /* Whatwedo */

  .work-items {
    @apply flex flex-col items-center max-w-[501px] lg:max-w-none mx-auto lg:flex-row;
  }

  .overlay-image {
    @apply relative leading-[0];
  }

  .overlay-image > span {
    @apply after:transition-all after:duration-300 after:ease-in-out;
  }

  .overlay-image:hover > span {
    @apply after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:opacity-70;
  }

  .overlay-image:hover img {
    @apply scale-105 transition-all duration-300 ease-in-out;
  }

  .overlay-image div {
    @apply leading-normal;
    @apply w-full h-full flex flex-col justify-center opacity-0 items-center absolute top-0 z-10 text-white;
  }

  .overlay-image:hover div {
    @apply opacity-100;
  }

  .cards {
    @apply mt-8 md:mt-12 lg:mt-20;
    @apply grid gap-x-12 gap-y-8 lg:grid-cols-3;
  }

  .card {
    @apply p-4 md:p-8 w-full shadow-lg border border-primary-100 rounded-lg;
    @apply hover:text-white hover:bg-primary-100 transition-colors duration-200 ease-in-out;
  }

  .card:hover i {
    @apply text-white transition-colors duration-200 ease-in-out;
  }

  .card-title {
    @apply text-xl poppins poppins-700 text-center lg:text-left;
  }

  .card-indication {
    @apply block;
  }

  .card-text {
    @apply mt-4;
  }

  /* PRICES */

  table {
    @apply w-full whitespace-nowrap;
  }

  .bordered {
    @apply border-t border-gray-500;
  }

  /* tr:hover .bordered, */
  tr:not(.transition-0):hover {
    @apply bg-gradient-to-r from-primary-50 to-primary-100 transition-colors duration-500 ease-in-out;
  }

  tr:not(.transition-0):hover * {
    @apply text-white transition-colors duration-200 ease-in-out;
  }

  tr.transition-0 td {
    @apply hover:translate-x-4 transition-transform duration-300 ease-in-out;
  }

  tr.transition-0 td:hover svg {
    @apply scale-125 transition-transform duration-300 ease-in-out;
  }

  td:not(.th),
  caption {
    @apply text-gray-600;
  }

  td,
  th {
    @apply p-2 text-left;
  }

  tr td:not(.service) {
    @apply border border-gray-600;
  }

  tr td:first-child,
  tr td:last-child {
    @apply border-l-0 border-r-0;
  }

  /* CONTACT */
  .form {
    @apply w-full;
    @apply flex flex-col items-center gap-y-8;
  }

  .form input,
  .form select,
  .form textarea {
    @apply py-2 px-4 w-full md:w-1/2;
    @apply transition-all duration-200 ease-in-out;
    @apply border-2 hover:scale-105 focus:scale-105 focus-visible:border-yellow-400 outline-none focus:border-yellow-400 focus-within:border-yellow-400 border-primary-100 rounded-r-3xl rounded-l-3xl;
  }

  .form select {
    @apply bg-white;
  }

  .form button {
    @apply py-2 px-4;
    @apply border-2 border-primary-100 rounded-3xl hover:bg-primary-100 transition-colors duration-200 ease-in-out hover:text-white;
  }
}
