@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* GLOBAL */

  body,
  .__next {
    @apply m-0 p-0;
    font-family: "Open Sans", sans-serif;
  }

  .poppins {
    font-family: "Poppins", sans-serif;
    font-display: swap;
    font-weight: 400;
  }

  .poppins-700 {
    font-weight: 700 !important;
  }

  /*  */

  .hero {
    @apply h-screen z-0;
  }

  .navbar {
    @apply absolute top-0 z-10;
    @apply w-full p-2 sm:p-4 md:p-8 lg:p-12;
    @apply flex md:items-center justify-between text-white;
  }

  .brand {
    @apply text-2xl md:text-3xl;
  }

  .navbar nav {
    @apply flex flex-col md:flex-row;
  }

  .toggle {
    @apply md:hidden mb-4 ml-auto md:mb-0 cursor-pointer;
  }

  .menu {
    @apply flex flex-col md:flex-row gap-6 md:gap-10 lg:gap-20;
    @apply text-lg;
    @apply h-0 md:h-min overflow-hidden transition-all duration-300 ease-in-out;
  }

  .menu-item {
    @apply rounded-lg md:hover:bg-primary-100 md:hover:scale-110 transition-all duration-300 ease-linear;
    @apply m-1 p-1;
  }

  .menu.show {
    @apply bg-opacity-70 bg-primary-100 md:bg-transparent rounded-lg md:rounded-none;
    @apply h-48 md:h-min;
  }

  /* NAVIGATION */
}
